.container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    margin-bottom: 40px;
}
body {
    font-family: Poppins;
    margin: 0;
    box-sizing: border-box;
}
